# Директории Go
/bin/
/vendor/

# Файлы Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
!*.go.test

# Конфигурационные файлы
config.yaml
.env

# Логи и временные файлы
*.log
*.tmp

# Директории IDE и редакторов
.vscode/
.idea/

# macOS файлы
.DS_Store